@font-face {
  font-family: "PretendardVariable";
  src: url("./static/fonts/PretendardVariable.ttf");
}

/* 1rem을 10px로 만들기 위한 장치 */
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}

/* @font-face {
	font-family: 'PretendardVariable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('PretendardVariable'), url('/src/static/fonts/PretendardVariable.woff2') format('woff2-variations');
} */
